.CO_div1 {
    width: 640px;
    margin: 0 auto 50px auto;
    outline: 0;
    padding: 30px 0 30px;
}

.CO_div2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.CO_ul1 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.CO_li1 {
    text-align: center;
    width: 29.166%;
    float: left;
    height: 40px;
    line-height: 40px;
    list-style: none;
}

.CO_li2 {
    width: 4.166%;
    text-align: center;
    float: left;
    line-height: 40px;
    list-style: none;
}

.CO_img1 {
    width: 10px;
}

.CO_span1 {
    background-color: #bababa;
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    width: 27px;
    height: 26px;
    padding: 5px;
}

.CO_span2 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #bababa;
    font-size: 16px;
}

.CO_span4 {
    color: #bbb;
}

.CO_span1Select {
    background-color: #ff5353;
}

.CO_span2Select {
    color: #ff5353;
    border-bottom: 2px solid #ff5353;
    padding-bottom: 2px;
}

td {
    background-color: #ffffff;
}

.CO- {
    margin-right: 10px;
}

.CO_Qty {
    margin-right: 10px;
}

.error {
    margin: 7px;
}

.step3h4{
    margin:0 auto;
    text-align:center;
}
#step3Table1{
    margin:0 auto;
    width:70%;
}
#step3Table2{
    margin:0 auto;
    width:70%;
    text-align:center;
}
#alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}