.prod {
    width: 182px;
    height: 230px;
    margin: 0 10px 40px 0;
    padding-top: 18px;
    text-align: center;
    border: 1px solid #e0e0e0;
    position: relative;
    list-style: none;
}

.delbtn {
    position: absolute;
    width: 25px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.img {
    height: 140px;
    width: 140px;
}

.name {
    margin: 10px 0;
    height: 16px;
    padding: 0 10px;
}

.price {
    color: #969696;
    margin: 13px 0;
}

#alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}