.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}    

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
}

.L {
    background-color: inherit;
    padding: 10px 50px 10px 50px;
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
}

.U {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-left: 10px;
}

#alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
