#Pimg {
    width: 220px;
    height: 284px
}

#Ptext {
    text-align: center;
    font-size: 14px;
    font-family: "新細明體";
    color: #706e6c;
    padding-top: 7px;
    margin: 0px
}

#Prod {
    width: 220px;
    display: inline-block;
    margin: 20px 43px 10px 0px;
}

#Father{
    text-align:center;
}

#alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    text-align: center;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}