@{
    ViewBag.Title = "綠界測試參數說明";
}

<h2>綠界測試參數說明</h2>

<div class="container" id="step3">
    <div class="container">
        <div>
            <hr />
            <p style="width:500px">
                付款測試資訊卡號: 4311-9522-2222-2222,期限則超過當天日期即可,安全碼: 222
                採用簡訊OTP認證(驗證方為綠界不是本站)請輸入正確手機不會產生相關費用。
            </p>
            <hr />
        </div>
    </div>
</div>