<script src="~/Scripts/Redirect.js" defer></script>
<link href="~/Content/Signin.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "RedirectView";
}

<h2>正在等待綠界回傳付款資訊</h2>
<div id="alert"></div>
