@{
    var date = DateTime.Now.ToString("MMdd");
}
<link href="~/Content/CartPartial.css?@date" rel="stylesheet" type="text/css" />
<script src="~/Scripts/CarPartial.js?@date" defer></script>

<script>
    let Cdata = JSON.parse('@Html.Raw(ViewBag.Cdata)');
</script>

<li class="dropdown">
    <a href="#" style="margin-top:10px" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/Img/car.jpg" class="Car" />
        共有<span id="quantity"></span>項商品
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <table>
                <thead>
                    <tr style='width: 90%;margin: 0 5%;'>
                        <th class='title'>商品名稱</th>
                        <th class='title'>顏色</th>
                        <th class='title'>尺寸</th>
                        <th class='title'>數量</th>
                    </tr>
                </thead>
                <tbody id="Tb">
                </tbody>
            </table>
            <span class='Checkout'><a href="/cart/checkout" class='btn_cart'>結帳</a></span>
        </li>
    </ul>
</li>