
@{
    ViewBag.Title = "Contact";
}

<h2>聯絡資訊</h2>
<hr/>
<div class="content">
    本站只為展示用途，無任何商業使用，以任何途徑取得的資料將不會對任何人公開及商業使用，如有疑慮請聯絡我。
    <h4>Email:risnfox@gmail.com</h4>
    <hr />
    This website just for works. All Information will not be disclosed to anyone.Please contact me if you have any doubts.
    <h4>Email:risnfox@gmail.com</h4>
</div>

