
@{
    ViewBag.Title = "KIDS";
}
<link href="~/Content/ProdTable.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ProdTable.js" defer></script>

<script>
    var type = "kids";
</script>

<div style="text-align:center">
    <img src="~/Img/50576_1010X400_200819_TW.jpg" style="margin:0px auto;width:100%;height:40%;margin-bottom:50px" />
</div>

<div id="Father">

</div>

