
@{
    ViewBag.Title = "Women";
}

<style>
    #Pimg{

    }
    #Ptext{
        text-align:center;
        font-size:14px;
        font-family:"新細明體";
        color:#706e6c;
        padding-top:7px;
        margin:0px
    }
    #Prod{
        width:220px;
    }
</style>

<script>

    $(function () {
        $.ajax({
            url:"http://220.132.206.75:45678/Home/GetProd"
        })
    })

</script>

<div>
    <img src="~/Img/46965_1010X400_200430_TW.jpg" style="margin:0px auto;width:1010px;height:400px;margin-bottom:50px"/>
</div>

<div id="Father">

    <div id="Prod">
        <a id="P0" href="#"><img id="Pimg" src="~/Img/46962_M_01_n.jpg" /></a>
        <p id="Ptext">輕型長版風衣外套-女</p>
        <p id="Ptext">NT$590</p>
    </div>

</div>

