
@{
    ViewBag.Title = "WOMEN";
}
<link href="~/Content/ProdTable.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ProdTable.js" defer></script>

<script>
    var type = "women";
</script>

<div>
    <img src="~/Img/46965_1010X400_200430_TW.jpg" style="margin:0px auto;width:1010px;height:400px;margin-bottom:50px"/>
</div>

<div id="Father">

</div>

