
@{
    ViewBag.Title = "Women";
}

<style>
    #Pimg{
        width:220px;
        height:284px
    }
    #Ptext{
        text-align:center;
        font-size:14px;
        font-family:"新細明體";
        color:#706e6c;
        padding-top:7px;
        margin:0px
    }
    #Prod{
        width:220px;
        display:inline-block;
        margin:20px 43px 10px 0px;
    }
</style>

<script>

    function GotoView(id) {
        window.open("https://localhost:44353/Home/ProdDetails?Pid=" + id,"_blank");
        }
    $(function () {

        $.ajax({
            url:"https://localhost:44353/Home/GetProd?TYPE=women",
            type: "GET",
            success: function (data) {
                var L = 0;
                data = JSON.parse(data)
                console.log(data)
                for (var x in data) {
                    L++;
                }
                for (var i = 0; L > i; i++) {
                    $("#Father").append("<div id='Prod'><a id='P" + i + "' href='javascript:void(0);' onclick='GotoView(" + data[i].prod.Id + ")'>" +
                        "<img id='Pimg' src='/UpdataFiles/" + data[i].img.FileName +"' / ></a><p id='Ptext'>" + data[i].prod.Name +
                        "</p><p id='Ptext'>NT$" + data[i].prod.Price + "</p></div>"
                    )
                }
            }
        })
        
    })

</script>

<div>
    <img src="~/Img/46965_1010X400_200430_TW.jpg" style="margin:0px auto;width:1010px;height:400px;margin-bottom:50px"/>
</div>

<div id="Father">

</div>

