
@{
    ViewBag.Title = "MAN";
    var date = DateTime.Now.ToString("MMdd");
}
<link href="~/Content/ProdTable.css?@date" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ProdTable.js?@date" defer></script>

<script>
    let type = "man";
</script>

<div style="text-align:center">
    <img src="~/Img/50944_1010X400_200831_TW.jpg" style="margin:0px auto;width:100%;height:40%;margin-bottom:50px" />
</div>

<div id="Father">

</div>

