
@{
    var date = DateTime.Now.ToString("MMdd");
}
<title>訂單查詢</title>
<link href="~/Content/Backstage/BOrder.css?@date" rel="stylesheet">
<script src="~/Scripts/Backstage/BOrder.js?@date"></script>

<div class="father">
    <div class="top">
        <div class="top-bgc">
            <form class="form-horizontal row" id="form1">

                <div class="form-group col-4 row">
                    <label class="col-4 top-h1">起始日期</label>
                    <input type="date" name="startdate" class="col-8 form-control" />
                </div>
                <div class="form-group col-4 row">
                    <label class="col-4 top-h1">結束日期</label>
                    <input type="date" name="enddate" class="col-8 form-control" />
                </div>
                <div class="form-group col-4 row">
                    <label class="col-4 top-h1">總金額</label>
                    <input type="text" maxlength="9" name="money" class="col-8 form-control" />
                </div>
                <div class="form-group col-4 row">
                    <label class="col-4 top-h1">訂單編號</label>
                    <input type="text" name="oid" class="col-8 form-control" placeholder="訂單編號" />
                </div>
                <div class="form-group col-4 row">
                    <label class="col-4 top-h1">會員編號</label>
                    <input type="text" maxlength="9" name="mid" class="col-8 form-control" placeholder="會員資料庫編號" />
                </div>
                <div class="form-group col-4 row">
                    <label class="col-4 top-h1">交易編號</label>
                    <input type="text" name="tid" class="col-8 form-control" placeholder="綠界交易編號" />
                </div>
                <div class="form-group row col-12">
                    <input type="button" id="remove" class="btn btn-danger offset-4 col-1" value="清除" />
                    <input type="button" id="submit" class="btn btn-success offset-2 col-1" value="搜尋" />
                </div>
            </form>
        </div>
    </div>
    <hr class="mid-hr" />
    <div class="container-fluid bottom">
        <table style="margin:0" class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>會員編號</th>
                    <th>交易日期</th>
                    <th>綠界交易編號</th>
                    <th>總金額</th>
                    <th>詳細資料</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div id="alert"></div>
